@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Character Profile Creator</h1>
    <p class="lead">A no-frills way to store all your character profiles for book ideas, D&amp;D campaigns, or just to keep track of information on people you know.</p>
    <p>@Html.RouteLink("List of Character Profiles", new { controller = "CharacterProfile", action = "Index" })</p>
</div>

